.container_laresort {
  margin-top: 130px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.konten_laresort h2 {
  margin-bottom: 40px;
  text-align: center;
}
.konten_laresort img {
  width: 100%;
}

.konten_laresort .galery_laresort {
  margin-top: 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.konten_laresort .galery_laresort .img_konten {
  display: flex;
  margin-top: 20px;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
}
.konten_laresort .galery_laresort .img_konten img {
  width: 300px;
  margin: 5px 5px;
}

.container_laresort .service_laresort {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.container_laresort .service_laresort .hero {
  max-width: 700px;
}
.container_laresort .service_laresort .hero img {
  width: 100%;
}
.konten_text {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.konten_text .wrap {
  display: flex;
  width: 250px;
}
.konten_text .side {
  margin: 0 10px;
}
.konten_text .wrap * {
  margin: 2px 5px;
}
.konten_text .wrap p {
  font-size: 12px;
}

.konten_laresort .tableunit {
  max-width: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto 30px auto;
}
.konten_laresort .tableunit img {
  border-radius: 40px;
}
.konten_laresort .konten_kavling {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 700px;
  margin: 0 auto;
}
.konten_laresort .konten_kavling h4 {
  font-size: 24px;
  margin: 20px 0;
}
